::-webkit-input-placeholder {
  /* WebKit browsers */
  color: $gray;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $gray;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $gray;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: $gray;
}

input[type="radio"],
input[type="checkBox"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  outline: none;
  vertical-align: middle;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="date"],
select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 0 10px;
  margin: 0;
  border: rgba($blue, 0.44) 1px solid;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  &:focus {
    border-color: $blue;
  }
}

textarea {
  display: block;
  width: 100%;
  height: 156px;
  padding: 10px;
  outline: none;
  border: rgba($blue, 0.44) 1px solid;
  box-sizing: border-box;
  &:focus {
    border-color: $blue;
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  border: none;
  transition: all 0.2s ease-in-out;
}

.radio_wrapper {
  display: inline-block;
  margin-right: 1rem;
  font-size: 0;
  vertical-align: middle;
  &:last-child {
    margin-right: 0;
  }
  input[type="radio"] {
    margin-right: .3rem;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.125rem;
    cursor: pointer;
  }
}

.check_wrapper {
  display: inline-block;
  margin-right: 1rem;
  font-size: 0;
  vertical-align: middle;
  &:last-child {
    margin-right: 0;
  }
  input[type="checkBox"] {
    margin-right: .3rem;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.125rem;
    cursor: pointer;
  }
}

.select_wrapper {
  width: 100%;
  overflow: hidden;
  select {
    width: 100%;
    background-image: url(../images/arrow_select.png);
    background-position: right center;
    background-repeat: no-repeat;
    appearance: none;
    &::-ms-expand {
      display: none;
    }
  }
}

.controls {
  position: relative;
  line-height: 46px;
  .text {
    font-size: 1.125em;
  }
  .error_text {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    padding-left: .3em;
    box-sizing: border-box;
    color: red;
    font-size: .875em;
    line-height: 1.6;
  }
  &.error {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    select, textarea {
      box-shadow: 0 0 0 1px red;
    }
    .error_text {
      display: block;
    }
  }
}

.controls_group {
  margin-bottom: 1em;
  @extend .clear;
  > label {
    display: block;
    margin-bottom: .3em;
    box-sizing: border-box;
  }
}

// dropdown
.dropdown {
  position: relative;
  .dropdown_head {
    cursor: pointer;
    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      margin-top: -3px;
      margin-left: 0.5em;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: #4a4a4a transparent transparent transparent;
      vertical-align: middle;
    }
  }
  .dropdown_list {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    background-color: $white;
  }
}

// language
.language {
  box-shadow: 0 0 4px rgba($gray-lighten, 0.5);
  text-align: center;
  font-family: 'Ubuntu', $sans-serif;
  font-size: 1.25em;
  .dropdown_head {
    padding: 0.5rem;
    box-sizing: border-box;
    color: $gray;
    @extend .transition;
    &:hover, &.active {
      background-color: $gray-lightest;
    }
    &.active {
      color: $gray-darken;
    }
  }
  .dropdown_list {
    .item {
      border-top: rgba($gray-lighten, 0.5) 1px solid;
    }
    a {
      display: block;
      padding: 0.5rem;
      box-sizing: border-box;
      color: $gray-darken;
      &:hover, &.active {
        background-color: $gray-lightest;
      }
      &.active {
        color: $blue;
      }
    }
  }
}

// Captcha
.captcha {
  font-size: 0;
  .captcha_inner {
    display: inline-block;
    width: 304px; //use width google reCaptcha
    font-size: 1rem;
    transform-origin: 0 0;
  }
}

// Contact
.contact_form {
  .controls_group {
    margin-bottom: 1.25em;
    > label {
      color: $gray-darken;
    }
    @include breakpoint(1024px) {
      margin-bottom: 1.75em;
      >label {
        width: 84px;
        float: left;
        padding-right: 1rem;
        margin-bottom: 0;
        box-sizing: border-box;
        background-color: transparent;
        line-height: 38px;
      }
      .controls {
        width: calc(100% - 84px);
        float: left;
      }
    }
  }
  .call_action {
    text-align: center;
    .captcha {
      margin: 0 auto 1.25rem;
    }
    @include breakpoint(480px) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      text-align: left;
      .captcha {
        width: calc(100% - 110px - 1rem);
        max-width: 240px;
        margin: 0;
      }
    }
    @include breakpoint(1024px) {
      padding-left: 84px;
      box-sizing: border-box;
    }
  }
}