#header {
	position: relative;
  z-index: 99;
  width: 100%;
	padding: 0 1em;
	box-sizing: border-box;
  background-color: $white;
  box-shadow: 0 0 7px rgba($black, 0.1);
	@extend .transition;
	&.scroll {
		box-shadow: 0 3px 10px rgba($black,0.3);
	}
	.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    height: 62px;
		margin: 0 auto;
	}
	.header_logo {
    flex: 0 0 auto;
		display: block;
		height: 40px;
		img {
			height: 100%;
		}
  }
  .header_nav {
    flex: 1 1 auto;
    justify-content: flex-end;
  }
  #btn_menu {
    flex: 0 0 auto;
  }
}

#header-sticky-wrapper {
  position: relative;
  z-index: 99;
}