extends layouts/default.pug

block value
  - var currentUrl = 'blog'
  - var subCurrent = ''

block main
  .blog_slider
    .slide
      a(href="blog_detail.html")
        .pic(style="background-image: url(images/img_blog_detail01.jpg)")
        .slide_content
          .content_inner
            .date_sort
              .date 2019.10.10
              .line
              .sort Cycling Event
            h3 The World’s Most Bike-Friendly Cities: Copenhagenize Index 2019
            p Microprogram Information Co.,Ltd. has core professional abilities in software-hardware integration and years of industry know-how in the bicycle field. We implement our technological services and create an online biking service that involves direct user interaction text text text text text text text text text text text text text text text text text text text text text text text text text text
    .slide
      a(href="blog_detail.html")
        .pic(style="background-image: url(https://source.unsplash.com/fZglO1JkwoM/1920x1280)")
        .slide_content
          .content_inner
            .date_sort
              .date 2019.10.08
              .line
              .sort Bikonnect
            h3 The World’s Most Bike-Friendly Cities: Copenhagenize Index 2019
            p Microprogram Information Co.,Ltd. has core professional abilities in software-hardware integration and years of industry know-how in the bicycle field. We implement our technological services and create an online biking service that involves direct user interaction text text text text text text text text text text text text text text text text text text text text text text text text text text
  .blog_list_wrapper.page_block
    .block_inner
      .blog_search_form
        .row
          .grid.g_6_12
            .controls.search_controls
              input(type="search")
              button(type="submit")
                i.icon_search
          .grid.g_6_12
            .select_wrapper
              select
                option All
                option Cycling Event
                option Bikonnect
                option Discussion
      .blog_list
        each i inArray(4)
          .item
            a(href="blog_detail.html")
              .thumb(style="background-image: url(images/img_blog_detail01.jpg)")
                img(src="images/size_3x2.png")
              .text
                .date 2019.10.10
                h3 The World’s Most Bike-Friendly Cities: Copenhagenize Index 2019
                .sort Cycling Event
          .item
            a(href="blog_detail.html")
              .thumb(style="background-image: url(https://source.unsplash.com/fZglO1JkwoM/1920x1280)")
                img(src="images/size_3x2.png")
              .text
                .date 2019.10.08
                h3 The World’s Most Bike-Friendly Cities: Copenhagenize Index 2019
                .sort Bikonnect
          .item
            a(href="blog_detail.html")
              .thumb(style="background-image: url(https://source.unsplash.com/bQF_9yrggvM/1920x1280)")
                img(src="images/size_3x2.png")
              .text
                .date 2019.10.01
                h3 The World’s Most Bike-Friendly Cities: Copenhagenize Index 2019
                .sort Discussion
  .pager_navigation
    .pager_nav_inner
      a.arrow.prev(href="javascript:;")
        i.arrow_prev
      a.current(href="javascript:;") 1
      a(href="javascript:;") 2
      a(href="javascript:;") 3
      a(href="javascript:;") 4
      a(href="javascript:;") 5
      a.arrow.next(href="javascript:;")
        i.arrow_next
  include layouts/partials/contact.pug