extends layouts/default.pug

block value
  - var currentUrl = 'blog'
  - var subCurrent = ''

block main
  .breadcrumbs
    .breadcrumbs_inner
      a(href="blog.html") Blog
      span.arr  /
      span.current The World’s Most Bike-Friendly Cities: Copenhagenize Index 2019
  .blog_container.page_block
    .block_inner
      .contain_main
        .blog_detail
          h1.detail_title The World’s Most Bike-Friendly Cities: Copenhagenize Index 2019
          .info_share
            .info
              .date 2019/10/04
              .line
              .sort Bikonnect
            .share_links
              a.facebook(href="javascript:;")
                i.icon_share_facebook
              a.line(href="javascript:;")
                i.icon_share_line
          .detail_content
            p Microprogram Information Co.,Ltd. has core professional abilities in software-hardware integration and years of industry know-how in the bicycle field. We implement our technological services and create an online biking service that involves direct user interaction. We analyze data on riding, consumption and behavior and connect to the data from sales channels. We help corporations use quantitative data and precisely plan for market strategies and satisfying user services. We help your corporation enter the IoT field quickly and achieve digital transformation perfectly via three critical themes of IoT development, which are cloud service (app), big data and IoT devices. Since we have plenty of experience in bicycle IoT, we have introduced Bikonnect, making Microprogram a new data partner for riding experiences and operational decision services.
            p
              img(src="images/img_blog_detail01.jpg")
        .blog_message
          .message_form
            a.form_toggle(href="javascript:;")
              i.icon_message
              h2 Write a resonse...
            .form_main
              .controls_wrapper
                .controls_group
                  label Name
                  .controls
                    input(type="text")
                .controls_group
                  label Message
                  .controls
                    textarea
                .call_action
                  button.btn_submit(type="submit") Sumbit
          .message_responses
            a.responses_toggle(href="javascript:;")
              | 18 responses
            .responses_items
              .item
                .response
                  .name_date
                    .name Eric Fisher
                    .date 2019.10.10
                  .message_text Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life. Umami tattooed sriracha meggings pickled Marfa Blue Bottle High Life next level four loko lkeytar.
                .reply
                  .info Reply &nbsp; | &nbsp; 2019.10.10
                  .message_text Life next level four loko lkeytar.
              .item
                .response
                  .name_date
                    .name Christine Hill
                    .date 2019.10.10
                  .message_text I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both. But this was.
              .item
                .response
                  .name_date
                    .name Benjamin Garza
                    .date 2019.10.10
                  .message_text In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards among the crew.
              .item
                .response
                  .name_date
                    .name John Diaz
                    .date 2019.10.10
                  .message_text It was a humorously perilous busin. For, before fast to Queequeg's broad canvas belt,.
              .item
                .response
                  .name_date
                    .name Stephen Armstrong
                    .date 2019.10.10
                  .message_text In the tumultuous business of cutting-in and attending to a whale.
      .contain_aside
        .blog_aside
          h2 Other Articles
          .blog_aside_items
            .item
              a(href="blog_detail.html")
                .thumb(style="background-image: url(https://source.unsplash.com/fZglO1JkwoM/1920x1280);")
                  img(src="images/size_3x2.png")
                .text
                  h3 The World’s Most Bike-Friendly Cities: Copenhagenize Index 2019
                  .sort Cycling Event
            .item
              a(href="blog_detail.html")
                .thumb(style="background-image: url(https://source.unsplash.com/bQF_9yrggvM/1920x1280);")
                  img(src="images/size_3x2.png")
                .text
                  h3 The World’s Most Bike-Friendly Cities: Copenhagenize Index 2019
                  .sort Cycling Event
  include layouts/partials/contact.pug