extends layouts/default.pug

block main
  .index_banner_slider
    .slider
      .slide
        .bg(style="background-image: url(images/banner_index.jpg);")
        .slide_inner
          .slide_content
            h2 Connect Your Bike#[br]Ride the Future
            a.btn_more.big(href="javascript:;")
              | Learn More
          .slide_img
            //↓ 圖片建議尺寸 寬:900px 高:700px ↓
            img(src="images/img_index_banner.png")
            //↑ 圖片建議尺寸 寬:900px 高:700px ↑
      .slide
        .bg(style="background-image: url(images/banner_index.jpg);")
        .slide_inner
          .slide_content
            h2 2 Connect Your Bike#[br]Ride the Future
            a.btn_more.big(href="javascript:;")
              | Learn More
          .slide_img
            //↓ 圖片建議尺寸 寬:900px 高:700px ↓
            img(src="images/img_index_banner.png")
            //↑ 圖片建議尺寸 寬:900px 高:700px ↑
    .slider_dots
    .wave
      img(src="images/img_wave.png", alt="wave")
  .index_experience.page_block
    .block_inner
      h2.block_title
        | More Intelligent Cycling#[br]Experience
      .text
        p
          | I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both. But this was not the only jamming jeopardy he was exposed to.
      .experience_items
        .item
          img.thumb(src="images/img_index_experience01.png", alt="E-Bike computer")
          h3 E-Bike computer
        .item
          img.thumb(src="images/img_index_experience02.png", alt="E-Bike APP")
          h3 E-Bike APP
        .item
          img.thumb(src="images/img_index_experience03.png", alt="Dealer management system")
          h3 Dealer management system
        .item
          img.thumb(src="images/img_index_experience04.png", alt="Cycling Data Platform")
          h3 Cycling Data Platform
  .index_strength.page_block
    .block_inner
      h2.block_title
        | Our Strength
      .strength_content
        .strength_sliders
          .item
            .slider
              each i inArray(3)
                .slide
                  .slide_inner
                    h3 Smart Integration
                    hr
                    p Data Transmission Firmware Update
          .item
            .slider
              each i inArray(3)
                .slide
                  .slide_inner
                    h3 Business Strategy
                    hr
                    p Store Management System Cycling Data Platform
        .strength_animate
          .img
            img(src="images/img_index_strength.png")
  .index_solutions.page_block
    .block_inner
      .solutions_content
        h2.block_title Smart Solutions
        h3.block_subtitle Data Management &amp; Analysis
        .text
          p Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever fap. 
        a.btn_more.green(href="javascript:;")
          | Learn more
      .solutions_img
        img(src="images/img_index_solutions.png", alt="Smart Solutions Picture")
  .index_partners.page_block
    .block_inner
      h2.block_title
        | Our Partners &amp; Supporters
      .partners_items
        //↓ 圖片建議尺寸 寬:230px以下 高:70px ↓
        .item
          img(src="images/partners/img_partners01.png", alt="LifePlus 雲端生活家")
        .item
          img(src="images/partners/img_partners02.png", alt="GIANT")
        .item
          img(src="images/partners/img_partners03.png", alt="intel Capital")
        .item
          img(src="images/partners/img_partners04.png", alt="中華開發資本")
        .item
          img(src="images/partners/img_partners05.png", alt="gamania")
        .item
          img(src="images/partners/img_partners06.png", alt="益鼎創投")
        .item
          img(src="images/partners/img_partners07.png", alt="Ubike")
        .item
          img(src="images/partners/img_partners08.png", alt="Openfind")
        .item
          img(src="images/partners/img_partners09.png", alt="happy cash 有錢卡")
        .item
          img(src="images/partners/img_partners10.png", alt="iPASS 一卡通")
        .item
          img(src="images/partners/img_partners11.png", alt="icash")
        .item
          img(src="images/partners/img_partners12.png", alt="悠遊卡 EASY CARD")
        //↑ 圖片建議尺寸 寬:230px以下 高:70px ↑
  .index_vision.page_block
    .block_inner
      .vision_content
        h2.block_title Our Vision
        h3.block_subtitle Your bike best secretary
        .text
          p Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui.
        a.btn_more Read More
  .contact.page_block
    .block_inner
      .contact_info
        .contact_logo
          img.retina(src="images/logo_big.png")
        h2
          | Let's get#[br]
          big Connect
        .follow_us
          span follow us!
          .social_links
            a(href="javascript:;", target="_blank")
              i.icon_facebook
            a(href="javascript:;", target="_blank")
              i.icon_twitter
            a(href="javascript:;", target="_blank")
              i.icon_instagram
        .info_list
          .item
            i.icon_location
            a(href="https://goo.gl/maps/djPnGB4bzScakSzS9", target="_blank")
              | 7F, No.402, Shizheng Rd, Xitun Dist., Taichung City 407.,Taiwan
          .item
            i.icon_mail
            a(href="mailto:smart_ebike@program.com.tw")
              | smart_ebike@program.com.tw
          .item
            i.icon_tel
            a(href="tel:+886-4-2369-2699")
              | +886-4-2369-2699
          .item
            i.icon_fax
            span
              | +886-4-2258-8577
      .contact_form
        //↓ 輸入有誤時 controls 的 class 加 'error' 即可顯示 error_text, 並在 error_text 顯示錯誤訊息 ↓
        .controls_group
          label Name
          .controls
            input(type="text")
            .error_text Error!
        .controls_group
          label Phone
          .controls
            input(type="text")
            .error_text Error!
        .controls_group
          label E-mail
          .controls
            input(type="email")
            .error_text Error!
        .controls_group
          label Message
          .controls
            textarea
            .error_text Error!
        //↑ 輸入有誤時 controls 的 class 加 'error' 即可顯示 error_text, 並在 error_text 顯示錯誤訊息 ↑
        .call_action
          .captcha
            .captcha_inner
              .g-recaptcha(data-sitekey="6LcHGhITAAAAABIgEAplK2EWsVFkaE5o0DWUpsIs")
          button.btn_submit(type="submit") Send

block js
  script(src='https://www.google.com/recaptcha/api.js')