extends layouts/default.pug

block value
  - var currentUrl = 'products'
  - var subCurrent = 'product02'

block main
  .product_introduction.page_block
    .block_inner.proportion
      .block_content
        h1.block_title E-Bike App
        .text
          p E-Bike App is a cycling app, specially designed for E-Bike cyclists to display advanced functions by mobile apps connecting with E-Bike computer such as remaining power display, assisting power mode, cycling data, E-Bike system diagnostics and firmware update by Bluetooth etc.
        a.btn_download(href="javascript:;")
          i.icon_download
          | Download
      .block_img
        img.size(src="images/size_porduct_intro.png", alt="")
        img.pic(src="images/products/product02/intro.png", alt="")
  .product_characteristic.page_block
    .wave.top
      img(src="images/product_char_wave_top.png", alt="")
    .block_inner.proportion
      .block_content
        h2.block_subtitle Smart Cycling Services
        .text
          p As well as through this App, you can book your bike repair and enquire after its maintenance history, even to process route navigation, estimate power supply for residual mileage, share your experience with the communities and other advanced smart cycling services to solve the various riding information needs for cyclists during different cycling phases such as before, between and after the ride, so that each cyclist can enjoy the ride with more comfort and safety.
      .block_img
        img.size(src="images/size_porduct_characteristic.png", alt="")
        img.pic(src="images/products/product02/characteristic.png", alt="")
    .wave.bottom
      img(src="images/product_char_wave_bottom.png", alt="")
    .bike
      img(src="images/product_char_bike.png", alt="")
  .product_keyAdvantages.page_block
    .block_inner
      .block_content
        h2.block_subtitle Key Advantages
        ul.key_list
          li Synchronize cycling data via Bluetooth and E-Bike computer
          li Cycling record uploads to the cloud system in real time
          li Riding navigation and battery usage  estimation
          li Diagnose your E-Bike system health by one-click
          li Make an appointment easily for your bike repair and maintenance
          li Digital maintenance history on the go
          li Share your member groups and activities
          li Link to store management system and cycling data platform to provide a better after-sales service experience (repair, maintenance, activity, notifications etc.)
      .block_img
        img.size(src="images/size_porduct_key.png", alt="")
        img.pic(src="images/products/product02/key.png", alt="")
  .product_future.page_block
    .block_inner
      h2.block_subtitle Connect your bike#[br]Ride the future
      .image_video
        img(src="images/products/product02/future.jpg", alt="")
  .product_application.page_block
    .block_inner
      h2.block_subtitle Application Range
      .aplication_items
        .item
          .icon_img
            img(src="images/products/product02/icon_img01.png", alt="")
          span E-Bike
        .item
          .icon_img
            img(src="images/products/product02/icon_img02.png", alt="")
          span Regular Bike
  include layouts/partials/contact.pug