<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php-7.1.19" />
            <add name="php-7.3.10" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php-7.3.10\php-cgi.exe" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
