@include susy-breakpoint(1024px, 12) {
  #main {
    min-height: calc(100vh - 70px - 62px);
  }

  // Page_block
  .page_block {
    padding: 5em 1em;
  }
  .block_title {
    font-size: 3em;
  }
  .block_subtitle {
    font-size: 2.25em;
  }

  // Index
  .index_banner_slider {
    .slide {
      .slide_content {
        h2 {
          font-size: 2.8125em;
        }
      }
    }
  }
  .index_experience {
    .experience_items {
      h3 {
        font-size: 1.375em;
      }
    }
  }

  // Contact
  .contact {
    padding: 5.625em 1em;
    .contact_info {
      width: 38%;
      padding: 2.875em 1.5em;
    }
    .contact_form {
      width: calc(62% - 1em);
      padding: 2.875em 4.375em 2.875em 1.5em;
    }
  }
}