@include susy-breakpoint(1024px, 12) {
  #main {
    min-height: calc(100vh - 70px - 62px);
  }

  .image_video {
    padding: 1.5em;
  }

  // Page_block
  .page_block {
    padding: 5em 1em;
  }
  .block_title {
    font-size: 3em;
  }
  .block_subtitle {
    font-size: 2.25em;
  }

  // Index
  .index_banner_slider {
    .slide {
      .slide_content {
        h2 {
          font-size: 2.8125em;
        }
      }
    }
  }
  .index_experience {
    .experience_items {
      h3 {
        font-size: 1.375em;
      }
    }
  }
  .partners_supporters {
    &.in_about {
      .partners_items {
        padding: 2rem;
        width: 88%;
        max-width: 980px;
      }
    }
  }

  // Contact
  .contact {
    padding: 5.625em 1em;
    .contact_info {
      width: 38%;
      padding: 2.875em 1.5em;
    }
    .contact_form {
      width: calc(62% - 1em);
      padding: 2.875em 4.375em 2.875em 1.5em;
    }
  }

  // Product
  .product_introduction {
    .block_img {
      margin-top: -5em;
    }
  }
  .product_application {
    .aplication_items {
      .item {
        margin: 0.5em 2em;
      }
      span {
        font-size: 1.5em;
      }
    }
  }

  // Solution
  .solution_cyclists_operators {
    .content_block {
      .table {
        display: table;
        padding-left: 2em;
        &:before {
          width: 6px;
        }
        .tr {
          display: table-row;
        }
        .th, .td {
          display: table-cell;
        }
        .th {
          width: 136px;
        }
      }
    }
  }
  .solution_keyFeatures {
    .keyFeature_slider {
      .pic_text {
        width: 72%;
        min-width: 788px;
        margin: 0 auto;
        padding: 0;
        .text {
          h3 {
            font-size: 1.5em;
          }
        }
      }
    }
  }
  
  // About
  .about_introduction,
  .bikonnect_introduction {
    padding-top: 4.375em;
    padding-bottom: 4.375em;
    .block_subtitle {
      font-size: 1.5em ;
    }
  }
  .about_timeline {
    padding-top: 3.75em;
    padding-bottom: 10em !important;
    .timeline_header {
      .block_subtitle {
        padding-left: calc(26px + 4.375rem);
      }
    }
    #timeline_slider {
      .slide {
        padding-left: 4.375em;
      }
    }
  }
  .about_team {
    .team_intro {
      padding: 0;
      .slick-prev {
        left: calc(-26px - 1em);
      }
      .slick-next {
        right: calc(-26px - 1em);
      }
    }
  }

  // Blog
  .blog_slider {
    .slide {
      a {
        height: 410px;
        padding: 5em 1em;
        &:before {
          background-image: url(../images/mask_blog_slide.png);
        }
      }
      .slide_content {
        .content_inner {
          width: 70.7207207207207%;
          box-sizing: border-box;
        }
        h3 {
          font-size: 2.25em;
        }
        p {
          opacity: 0;
        }
      }
      a:hover {
        &:before {
          background-image: url(../images/mask_blog_slide_hover.png);
        }
        .slide_content {
          h3 {
            font-size: 1.875em;
          }
          p {
            opacity: 1;
          }
        }
      }
    }
    .slick-dots {
      bottom: 1.5rem;
    }
  }
  .blog_list_wrapper {
    padding-top: 4.5em;
    .blog_search_form {
      margin-bottom: 4.5em;
    }
    .blog_list {
      .item {
        width: calc((100% - 1.875em * 2) / 3);
        &:nth-child(2n) {
          margin-right: 1.875em;
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
        &:nth-last-child(-n+2):nth-child(2n+1),
        &:nth-last-child(-n+2):nth-child(2n+1)~.item {
          margin-bottom: 2.625em;
        }
        &:nth-last-child(-n+3):nth-child(3n+1),
        &:nth-last-child(-n+3):nth-child(3n+1)~.item {
          margin-bottom: 0;
        }
      }
    }
  }
  .blog_container {
    padding: 3.75em 1em;
    .block_inner {
      display: flex;
      .contain_main {
        flex: 1 1 auto;
        margin-right: 4.2452830188679%;
        margin-bottom: 0;
      }
      .contain_aside {
        flex: 0 0 auto;
        width: 22.6415094339623%;
      }
    }
  }
  .blog_aside {
    padding-top: 3.125em;
    .blog_aside_items {
      display: block;
      flex-wrap: inherit;
      .item {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}

@include susy-breakpoint(1142px, 12) {
  // Index
  .index_solutions {
    .block_img {
      width: calc(49% + (100vw - 1110px) / 2);
      margin-right: calc(((100vw - 1110px) / 2) * -1);
    }
  }

  // Product
  .product_introduction {
    .block_img {
      width: calc(52% + (100vw - 1110px) / 2);
      margin-right: calc(((100vw - 1110px) / 2) * -1);
    }
  }
  .product_characteristic {
    .block_img {
      width: calc(52% + (100vw - 1110px) / 2);
      margin-left: calc(((100vw - 1110px) / 2) * -1);
    }
  }
  .product_keyAdvantages {
    .block_inner {
      align-items: center;
    }
  }

  // Solution
  .solution_keyFeatures {
    .keyFeature_slider {
      margin: 0;
      .slick-prev {
        left: 0;
      }
      .slick-next {
        right: 0;
      }
    }
  }
}