@include susy-breakpoint(1024px, 12) {
  #main {
    min-height: calc(100vh - 70px - 62px);
  }

  // Page_block
  .page_block {
    padding: 5em 1em;
  }
  .block_title {
    font-size: 3em;
  }
  .block_subtitle {
    font-size: 2.25em;
  }

  // Index
  .index_banner_slider {
    .slide {
      .slide_content {
        h2 {
          font-size: 2.8125em;
        }
      }
    }
  }
  .index_experience {
    .experience_items {
      h3 {
        font-size: 1.375em;
      }
    }
  }
}