@include susy-breakpoint(1200px, 12) {
  // Index
  .index_banner_slider {
    .slide {
      text-align: center;
      .slide_inner {
        max-width: 1110px;
      }
      .slide_content {
        left: calc((100vw - 1110px) / 2);
        padding: 0 1.25em;
        text-align: left;
        h2 {
          font-size: 4.25em;
        }
      }
    }
  }
  .index_experience {
    .experience_items {
      padding: 0;
      .slick-prev {
        left: -26px;
      }
      .slick-next {
        right: -26px;
      }
    }
  }
  .index_strength {
    .strength_sliders {
      .item {
        padding: 0;
      }
    }
    .slider {
      h3 {
        font-size: 1.5em;
      }
      p {
        font-size: 1.25em;
      }
      @include breakpoint(1440px) {
        h3 {
          font-size: 2.25em;
        }
        p {
          font-size: 1.5em;
        }
      }
    }
  }
  .index_solutions {
    .block_content {
      .block_title {
        font-size: 3.75em;
      }
    }
  }
  .partners_supporters {
    .block_title {
      font-size: 3.4375em;
    }
  }
  .index_vision {
    .vision_content {
      width: 38%;
      .block_title {
        font-size: 3.75em;
      }
    }
  }

  // Solution
  .solution_application {
    .application_items {
      padding: 0;
      .slick-prev {
        left: -26px;
      }
      .slick-next {
        right: -26px;
      }
    }
  }
}

@include susy-breakpoint(1280px, 12) {
  // Product
  .product_keyAdvantages {
    .block_img {
      width: 50%;
      margin-left: -6%;
    }
  }
}