@include susy-breakpoint(1200px, 12) {
  // Index
  .index_banner_slider {
    .slide {
      text-align: center;
      .slide_inner {
        max-width: 1110px;
      }
      .slide_content {
        width: 65%;
        padding: 0 1.25em;
        text-align: left;
        h2 {
          font-size: 4.25em;
        }
      }
      .slide_img {
        width: calc(42% + (100vw - 1110px) / 2);
        margin-left: -7%;
        margin-right: calc((100vw - 1110px) / 2);
      }
    }
  }
  .index_experience {
    .experience_items {
      .item {
        @include gallery(3 of 12 2);
      }
    }
  }
  .index_strength {
    .strength_sliders {
      .item {
        padding: 0;
      }
    }
    .slider {
      h3 {
        font-size: 1.5em;
      }
      p {
        font-size: 1.25em;
      }
      @include breakpoint(1440px) {
        h3 {
          font-size: 2.25em;
        }
        p {
          font-size: 1.5em;
        }
      }
    }
  }
  .index_solutions {
    .block_title {
      font-size: 3.75em;
    }
    .solutions_content {
      width: 46%;
      padding-left: 0;
    }
    .solutions_img {
      width: calc(54% + (100vw - 1110px) / 2);
      margin-right: calc((100vw - 1110px) / 2);
    }
  }
  .index_partners {
    .block_title {
      font-size: 3.4375em;
    }
  }
  .index_vision {
    .block_title {
      font-size: 3.75em;
    }
  }
}