@include susy-breakpoint(1440px, 12) {
  // Page_block
  .page_block {
    .block_inner {
      width: 75%;
      max-width: inherit;
    }
  }

  // Index
  .index_banner_slider {
    .slide {
      .slide_content {
        left: (100% - 75%) / 2;
      }
    }
  }
  .index_experience {
    .experience_items {
      margin: 2.5em -2em 0;
      .item {
        margin: 0 2em;
      }
      .thumb {
        width: 100%;
        max-width: inherit;
      }
    }
  }
  .index_solutions {
    .solutions_img {
      width: calc(54% + (100vw - 75vw) / 2);
      margin-right: calc((100vw - 75vw) / 2);
    }
  }

  // Contact
  .contact {
    .block_inner {
      max-width: 1110px;
    }
  }
}