#main {
  min-height: calc(100vh - 62px * 2);
}

// Breadcrumbs
.breadcrumbs {
	text-align: center;
	a {
		color: $black;
		&:hover {
			// color: $orange;
		}
	}
	span {
		&.arr {
			margin: 0 .8em;
		}
		&.current {
			// color: $orange;
		}
	}
}

// Pager
.pager_navigation {
	padding: 0 1.5rem 1.5rem;
	box-sizing: border-box;
	text-align: center;
	.pager_nav_inner {
		max-width: 1170px;
		margin: 0 auto;
	}
	a {
		display: inline-block;
		height: 24px;
		padding: 0 .5rem;
		line-height: 24px;
		vertical-align: middle;
		&:hover, &.current {
			// color: $orange;
		}
		> div[class^='icon_'] {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

// Page_block
.block_title {
  margin-top: 0;
  color: $main;
  font-family: 'Ubuntu', $sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.2;
}
.block_subtitle {
  margin-top: 0;
  color: $main;
  font-family: 'Ubuntu', $sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.4;
}
.page_block {
  padding: 1.5em 1em;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .block_inner {
    max-width: 1110px;
    margin: 0 auto;
  }
  .block_content {
    box-sizing: border-box;
    .block_title {
      margin-bottom: 0.6em;
    }
    .block_subtitle {
      margin-bottom: 0.5em;
    }
    .text {
      p {
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .block_img {
    img {
      display: block;
    }
  }
}

.image_video {
  padding: 0.5em;
  border: $blue 3px solid;
  border-radius: 13px;
  background-color: $white;
  box-sizing: border-box;
  img {
    display: block;
    width: 100%;
    max-width: inherit;
  }
}

.pic_text {
  .pic {
    margin-bottom: 1em;
    img {
      display: block;
    }
  }
  .text {
    > * {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @include breakpoint(660px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .pic {
      flex: 0 0  auto;
      margin-bottom: 0;
    }
    .text {
      flex: 1 1 auto;
    }
  }
}

.common_list {
  list-style: none;
  margin: 0;
  padding-left: 0.8em;
  li {
    position: relative;
    list-style: none;
    margin-bottom: 0.8em;
    line-height: 1.4;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0.7em;
      left: -14px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $green;
      transform: translateY(-50%);
    }
  }
}

// Index
.index_banner_slider {
  position: relative;
  .slider {
    margin-bottom: 0 !important;
  }
  .slide {
    position: relative;
    z-index: 0;
    align-items: center;
    height: 100%;
    min-height: 50.3125vw;
    padding-bottom: 11.6666666666667vw;
    box-sizing: border-box;
    .bg {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .slide_content {
      position: absolute;
      z-index: 1;
      top: 5%;
      left: 0;
      padding: 0 1em;
      box-sizing: border-box;
      transform: translateX(-60%);
      opacity: 0;
      transition: all 0.5s ease-in-out;
      h2 {
        margin-top: 0;
        margin-bottom: 0.3em;
        color: $white;
        font-family: 'Ubuntu',$sans-serif;
        font-weight: 700;
        line-height: 1.4;
        text-shadow: 0 0 9px rgba($black, 0.5);
      }
      @include breakpoint(560px) {
        top: 20.5%;
        h2 {
          margin-bottom: 0.8em;
        }
      }
    }
  }
  .slider.loaded {
    .slide.slick-current {
      .slide_content {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
  .slider_dots {
    position: absolute;
    z-index: 3;
    bottom: 14vw;
    right: 12.5%;
    transform: translateX(50%);
    pointer-events: none;
    .slick-dots {
      position: relative;
      bottom: auto;
      font-size: 0;
      li {
        width: auto;
        height: auto;
        button {
          width: 14px;
          height: 14px;
          padding: 0;
          border-radius: 7px;
          background-color: $white;
          box-shadow: 0 0 3px rgba($black, 0.35);
          pointer-events: visible;
          &:before {
            display: none;
          }
        }
        &.slick-active {
          button {
            width: 38px;
            background-color: $blue;
          }
        }
      }
    }
    @include breakpoint(660px) {
      bottom: 15.9722222222222vw;
    }
  }
}
.index_experience {
  position: relative;
  background-color: $blue-lighten;
  background-image: url(../images/bg_index_experience.jpg);
  background-position: center top;
  .wave {
    position: absolute;
    z-index: 2;
    bottom: 100%;
    left: 0;
    width: 100%;
    img {
      display: block;
      width: 100%;
      max-width: inherit;
    }
  }
  .block_title {
    text-align: center;
  }
  .text {
    max-width: 680px;
    margin: 0 auto;
    font-size: 1.125em;
    text-align: justify;
    text-justify: auto;
    line-height: 1.4;
    @include breakpoint(560px) {
      text-align: center;
      text-justify: inherit;
    }
  }
  .experience_items {
    padding: 0 calc(26px + 0.5rem);
    margin: 1.5em -1em 0;
    box-sizing: border-box;
    .item {
      margin: 0 1em;
    }
    .thumb {
      display: block;
      width: 100%;
      max-width: 220px;
      margin: 0 auto 0.8em;
    }
    h3 {
      margin: 0;
      color: $main;
      font-family: 'Ubuntu',$sans-serif;
      font-size: 1.25em;
      font-weight: 400;
      text-align: center;
      line-height: 1.4;
    }
    .slick-prev {
      @include retina-sprite($arrow-slider-prev-blue-group);
      left: 0.5rem;
    }
    .slick-next {
      @include retina-sprite($arrow-slider-next-blue-group);
      right: 0.5rem;
    }
  }
}
.index_strength {
  background-color: $main;
  color: $white;
  .block_title {
    color: $white;
    text-align: center;
  }
  .strength_sliders {
    .item {
      margin-bottom: 1.5em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .mobile_img {
    margin: 0 -1em 1em;
    img {
      display: block;
      width: 100%;
      max-width: inherit;
    }
  }
  .slider {
    position: relative;
    z-index: 1;
    width: 280px;
    height: 280px;
    margin: 0 auto;
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $blue;
    }
    .slide {
      height: 280px;
      box-sizing: border-box;
      font-size: 0;
      text-align: center;
      &:before {
        content: '';
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
      }
      &_inner {
        overflow: auto;
        display: inline-block;
        width: 70%;
        max-height: 70%;
        font-size: 1rem;
        vertical-align: middle;
      }
    }
    h3 {
      margin: 0;
      font-family: 'Ubuntu',$sans-serif;
      font-size: 1.125em;
      font-weight: 500;
      line-height: 1.4;
    }
    hr {
      width: 100%;
      height: 1px;
      margin: 0.8em 0;
      border: none;
      background-color: $white;
    }
    p {
      margin: 0;
      font-family: 'Ubuntu',$sans-serif;
      line-height: 1.4;
    }
    .slick-prev {
      left: 0;
      @include retina-sprite($arrow-slider-prev-group);
    }
    .slick-next {
      right: 0;
      @include retina-sprite($arrow-slider-next-group);
    }
    @include breakpoint(370px) {
      .slick-prev {
        left: -40px;
      }
      .slick-next {
        right: -40px;
      }
    }
  }
  .strength_animation {
    display: none;
    svg#strengthSVG {
      width: 100%;
      height: auto;
    }
    img#strengthIMG {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      max-width: inherit;
    }
  }
  @include breakpoint(660px) {
    min-height: 88vw;
    .strength_content {
      position: relative;
    }
    .strength_sliders {
      position: relative;
      z-index: 1;
      .item {
        display: flex;
        align-items: center;
        min-height: 31.8055555555556vw;
        padding: 0 2em;
        margin-bottom: 10vw;
        box-sizing: border-box;
        &:nth-child(2n+1) {
          justify-content: flex-start;
        }
        &:nth-child(2n+2) {
          justify-content: flex-end;
        }
      }
    }
    .mobile_img {
      display: none;
    }
    .slider {
      margin: 0;
      width: 38vw;
      height: 38vw;
      max-width: 520px;
      max-height: 520px;
      .slide {
        width: 38vw;
        height: 38vw;
        max-width: 520px;
        max-height: 520px;
      }
      h3 {
        font-size: 1.25em;
      }
      p {
        font-size: 1.125em;
      }
    }
    .strength_animation {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 0;
      display: block;
      width: 100vw;
      margin-left: -50vw;
    }
  }
}
.index_solutions {
  background-image: url(../images/bg_index_solutions.jpg);
  .block_content {
    margin-bottom: 2em;
    box-sizing: border-box;
    .block_title {
      margin-bottom: 0.3em;
      color: $white;
    }
    .block_subtitle {
      color: $green;
    }
    .text {
      margin-bottom: 2em;
      color: $white;
      font-size: 1.125em;
    }
  }
  .block_img {
    margin: 0 -1em;
    @extend .clear;
    img {
      float: right;
    }
  }
  @include breakpoint(660px) {
    .block_inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .block_content {
      flex: 0 0 auto;
      width: 49%;
      margin-bottom: 0;
    }
    .block_img {
      flex: 0 0 auto;
      width: calc(49% + 1em);
      margin-left: 0;
    }
  }
}
.partners_supporters {
  .block_title {
    text-align: center;
    font-weight: 400;
  }
  .partners_items {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    .item {
      display: inline-block;
      margin: 0.75rem;
      vertical-align: middle;
      img {
        max-width: inherit;
        height: 44px;
      }
    }
  }
  &.in_about {
    background-color: #F7F7F7;
    .block_subtitle {
      margin-bottom: 1.125em;
      text-align: center;
    }
    .partners_items {
      background-color: $white;
      padding: 1rem;
      box-sizing: border-box;
    }
  }
}
.index_vision {
  padding: 0;
  .bg {
    width: 100vw;
    height: 43.75vw;
    background-image: url(../images/bg_index_vision.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .block_inner {
    background-color: $gray-lightest;
  }
  .vision_content {
    padding: 1.5em 1em;
    box-sizing: border-box;
    .block_title {
      margin-bottom: 0.3em;
      color: $blue;
    }
    .block_subtitle {
      margin-bottom: 0.45em;
      color: $gray-darken;
    }
    .text {
      margin-bottom: 1em;
      color: $gray-darken;
      font-size: 1.125em;
      p {
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  @include breakpoint(660px) {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 43.75vw;
    padding: 1.5em 1em;
    .bg {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .block_inner {
      position: relative;
      z-index: 1;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      background-color: transparent;
    }
    .vision_content {
      flex: 0 0 auto;
      width: 50%;
      padding: 0;
      .block_subtitle {
        color: $white;
        text-shadow: 0 0 6px rgba($black, 0.5);
      }
      .text {
        color: $white;
        text-shadow: 0 2px 4px rgba($black, 0.5);
      }
    }
  }
}

// Contact
.contact {
  background-image: url(../images/bg_contact.jpg);
  .block_inner {
    max-width: 980px;
    margin: 0 auto;
  }
  .contact_info,
  .contact_form {
    padding: 1.5em 1em;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: $blue-lighten;
    box-shadow: 0 0 4px rgba($white,0.35);
    @include breakpoint(480px) {
      padding: 1.5em;
    }
  }
  .contact_info {
    margin-bottom: 1.5em;
    .contact_logo {
      max-width: 230px;
      margin: 0 auto;
      img {
        display: block;
      }
    }
    h2 {
      position: relative;
      padding: 1rem 0;
      margin: 1.5rem 0;
      color: $main;
      font-family: 'Ubuntu',$sans-serif;
      font-size: 3em;
      font-weight: 500;
      text-align: center;
      line-height: 1.2;
      &:before, &:after {
        content: '';
        position: absolute;
        left: 50%;
        display: block;
        width: 210px;
        height: 1px;
        background-color: rgba(#A9A9A9, 0.44);
        transform: translateX(-50%);
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
      big {
        color: $blue;
        font-size: 1.3em;
        font-weight: 700;
      }
    }
    .follow_us {
      max-width: 240px;
      margin: 0 auto 1.5em;
      span {
        display: inline-block;
        margin-right: 0.5rem;
        color: $main;
        font-family: 'Ubuntu',$sans-serif;
        font-size: 1.125em;
        font-weight: 500;
        vertical-align: middle;
      }
      .social_links {
        display: inline-block;
      }
      a {
        pointer-events: none;
        display: inline-block;
        margin-right: 0.3rem;
        vertical-align: middle;
        i[class^="icon_"] {
          display: block;
          @extend .transition;
        }
        &:hover {
          i[class^="icon_"] {
            transform: translateY(-0.5em);
          }
        }
      }
    }
    .info_list {
      max-width: 240px;
      margin: 0 auto;
      color: $gray-darken;
      .item {
        margin-bottom: 0.5rem;
        line-height: 1.4;
        font-size: 0;
        word-break: break-all;
        &:last-child {
          margin-bottom: 0;
        }
        i[class^="icon_"] {
          margin-top: 0.4rem;
          vertical-align: top;
        }
        a, span {
          display: inline-block;
          width: calc(100% - 10px - 0.5rem);
          margin-left: 0.5rem;
          font-size: 1rem;
          vertical-align: top;
        }
      }
      a {
        color: $gray-darken;
        &:hover {
          color: $blue;
        }
      }
    }
  }
  @include breakpoint(660px) {
    .block_inner {
      display: flex;
    }
    .contact_info {
      flex: 0 0 auto;
      width: 250px;
      margin-bottom: 0;
      margin-right: 1em;
      h2 {
        font-size: 2.5em;
      }
    }
    .contact_form {
      flex: 1 1 auto;
      width: calc(100% - 250px - 1em);
    }
  }
}

// Product
.product_introduction {
  padding-bottom: calc(10.9375vw + 1.5em) !important;
  .block_content {
    margin-bottom: 1.25em;
    .block_title {
      font-weight: 700;
    }
  }
  .block_img {
    margin: 0 -1em;
    img {
      width: 100%;
      max-width: inherit;
    }
  }
  @include breakpoint(660px) {
    .block_inner {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    .block_content {
      flex: 0 0 auto;
      width: 55%;
      margin-bottom: 0;
    }
    .block_img {
      flex: 0 0 auto;
      width: calc(45% + 1em);
      margin-top: -1.5em;
      margin-bottom: calc(-10.9375vw - 1.5em);
      margin-left: 0;
      margin-right: -1em;
    }
  }
}
.product_characteristic {
  position: relative;
  padding-bottom: 14vw !important;
  background-color: $blue-lighten;
  .wave {
    position: absolute;
    z-index: 0;
    left: 0;
    width: 100%;
    &.top {
      bottom: 100%;
    }
    &.bottom {
      top: 100%;
    }
    img {
      display: block;
      width: 100%;
      max-width: inherit;
    }
  }
  .bike {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -14vw - 3.5vw;
    width: 42.1875vw;
    img {
      display: block;
      width: 100%;
      max-width: inherit;
    }
  }
  .block_inner {
    position: relative;
    z-index: 2;
  }
  .block_content {
    margin-bottom: 1.5em;
  }
  .block_img {
    margin: 0 -1em;
  }
  @include breakpoint(660px) {
    .block_inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .block_content {
      order: 1;
      flex: 0 0 auto;
      width: 52%;
      margin-bottom: 0;
      text-align: right;
    }
    .block_img {
      order: 0;
      flex: 0 0 auto;
      width: calc(45% + 1em);
      margin-top: -6.8vw;
      margin-bottom: -10vw;
      margin-left: -1em;
    }
  }
}
.product_keyAdvantages {
  padding-top: 18vw;
  .block_content {
    margin-bottom: 1.5em;
    .key_list {
      list-style: none;
      margin: 0;
      padding-left: 0.8em;
      li {
        position: relative;
        list-style: none;
        margin-bottom: 0.8em;
        line-height: 1.4;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          content: '';
          position: absolute;
          top: 0.7em;
          left: -14px;
          width: 8px;
          height: 8px;
          border: $green 1.5px solid;
          border-radius: 50%;
          box-sizing: border-box;
          transform: translateY(-50%);
        }
      }
    }
  }
  @include breakpoint(480px) {
    .block_img {
      width: 60%;
      margin: 0 auto;
    }
  }
  @include breakpoint(660px) {
    padding-top: 22vw !important;
    padding-bottom: 10vw !important;
    .block_inner {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    .block_content {
      order: 1;
      flex: 1 1 auto;
      margin-left: 9%;
      margin-bottom: 0;
      .key_list {
        padding-left: 0;
      }
    }
    .block_img {
      order: 0;
      flex: 0 0 auto;
      width: 40%;
      margin: 0;
      margin-top: -6vw;
      margin-bottom: -6vw;
    }
  }
}
.product_future {
  padding-top: 11vw;
  background-image: url(../images/bg_line.png);
  background-position: center top;
  background-size: 100% auto;
  .block_subtitle {
    text-align: center;
  }
  .image_video {
    box-shadow: 10px -8px 0  0 $blue-lighten;
  }
  @include breakpoint(660px) {
    padding-top: 8.75vw !important;
    .block_inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .block_subtitle {
      flex: 1 1 auto;
      margin: 0 2% 0 4%;
      text-align: left;
    }
    .image_video {
      flex: 0 0 auto;
      width: 55.8%;
      margin-right: 4%;
    }
  }
}
.product_application {
  background-image: url(../images/bg_product_application.jpg);
  .block_subtitle {
    color: $white;
    text-align: center;
  }
  .aplication_items {
    text-align: center;
    .item {
      display: inline-block;
      max-width: 100%;
      margin: 0.5em;
      vertical-align: middle;
    }
    .icon_img {
      display: inline-block;
      vertical-align: middle;
      img {
        display: block;
        max-width: inherit;
        max-height: 44px;
        @include breakpoint(560px) {
          max-height: 66px;
        }
      }
    }
    span {
      display: inline-block;
      margin-left: 0.5em;
      color: $white;
      font-size: 1.125em;
      vertical-align: middle;
    }
  }
}

// Solution
.page_banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4em;
  padding-bottom: 4em;
  .block_title {
    margin-bottom: 0;
    color: $white;
    font-weight: 700;
    text-align: center;
  }
  &.in_solution {
    background-image: url(../images/bg_solution_banner.jpg);
  }
  &.in_about {
    background-image: url(../images/bg_about_banner.jpg);
    .about_logo {
      display: block;
    }
  }
}
.solution_introduction {
  padding-top: 0 !important;
  .image_video {
    margin-top: -2em;
    margin-bottom: 1.5em;
    box-shadow: 14px -11px 16px rgba($black, 0.13);
    @include breakpoint(660px) {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .text {
    text-align: justify;
    text-justify: auto;
    p {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.solution_help,
.solution_keyAdvantages {
  .block_subtitle {
    text-align: center;
  }
  @include breakpoint(660px) {
    .block_subtitle {
      margin-bottom: 1.25em;
    }
    .pic_text {
      align-items: center;
      .pic {
        width: 48%;
      }
      .text {
        width: 48%;
      }
    }
  }
}
.solution_help {
  @include breakpoint(660px) {
    .pic_text {
      .pic {
        margin-right: 4%;
      }
    }
  }
}
.solution_keyAdvantages {
  @include breakpoint(660px) {
    .pic_text {
      .pic {
        order: 1;
        margin-left: 4%;
      }
      .text {
        order: 0;
      }
    }
  }
}
.solution_application {
  background-color: $blue-lighten;
  .block_subtitle {
    text-align: center;
  }
  .application_items {
    padding: 0 calc(26px + 0.5rem);
    margin: 0 -1em;
    box-sizing: border-box;
    .item {
      margin: 0 1em;
      text-align: center;
      img {
        display: block;
        max-width: 80%;
        max-height: inherit;
        margin: 0 auto 0.8em;
      }
      span {
        display: block;
        line-height: 1.4;
      }
    }
    .slick-prev {
      @include retina-sprite($arrow-slider-prev-blue-group);
      left: 0.5rem;
    }
    .slick-next {
      @include retina-sprite($arrow-slider-next-blue-group);
      right: 0.5rem;
    }
  }
}
.solution_cyclists_operators {
  .content_block {
    overflow: hidden;
    margin-bottom: 1.5em;
    &:last-child {
      margin-bottom: 0;
    }
    .block_subtitle {
      text-align: center;
    }
    .table {
      position: relative;
      padding-left: 1.25em;
      box-sizing: border-box;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 4px;
        height: 9999%;
      }
      .tr {
        margin-bottom: 1em;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .th {
        font-size: 1.125em;
        font-weight: 500;
        line-height: 1.4;
      }
    }
    &.cyclists {
      .table {
        &:before {
          background-color: $blue;
        }
      }
    }
    &.operators {
      .table {
        &:before {
          background-color: $green;
        }
      }
    }
  }
  @include breakpoint(660px) {
    .block_inner {
      display: flex;
    }
    .content_block {
      width: 48%;
      margin-right: 4%;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.solution_keyFeatures {
  background-color: $main;
  color: $white;
  .block_subtitle {
    color: $white;
    text-align: center;
  }
  .keyFeature_slider {
    margin: 0 26px;
    .pic_text {
      padding: 0 0.8em;
      box-sizing: border-box;
      .pic {
        .img {
          width: 200px;
          height: 200px;
          margin: 0 auto;
          border: $white 3px solid;
          border-radius: 50%;
          box-sizing: border-box;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .text {
        h3 {
          margin-top: 0;
          margin-bottom: 0.5em;
          color: $green;
          font-size: 1.125em;
          font-weight: 500;
        }
      }
    }
    .slick-prev {
      left: calc(-26px - 0.5rem);
      @include retina-sprite($arrow-slider-prev-group);
    }
    .slick-next {
      right: calc(-26px - 0.5rem);
      @include retina-sprite($arrow-slider-next-group);
    }
    @include breakpoint(660px) {
      .pic_text {
        align-items: center;
        .pic {
          width: 230px;
          margin-right: 1.5em;
          .img {
            width: 230px;
            height: 230px;
          }
        }
      }
    }
  }
}

// About
.about_introduction,
.bikonnect_introduction {
  .pic_text {
    @extend .clear;
    .text {
      p {
        text-align: justify;
        text-justify: auto;
      }
    }
  }
  @include breakpoint(660px) {
    .pic_text {
      display: block;
      .pic {
        width: 48.5%;
        margin-bottom: 0.15em;
      }
    }
  }
}
.about_introduction {
  @include breakpoint(660px) {
    .pic_text {
      .pic {
        float: left;
        margin-right: 2%;
      }
    }
  }
}
.bikonnect_introduction {
  @include breakpoint(660px) {
    .pic_text {
      .pic {
        float: right;
        margin-left: 2%;
      }
    }
  }
}
.about_intervalImg {
  img {
    display: block;
    width: 100%;
    max-width: inherit;
  }
}
.about_timeline {
  overflow: hidden;
  padding-bottom: 8em !important;
  background-image: url(../images/bg_about_timeline.jpg);
  background-position: center bottom;
  .timeline_header {
    position: relative;
    margin-bottom: 1em;
    .block_subtitle {
      position: relative;
      z-index: 2;
    }
    #timeline_years {
      position: relative;
      z-index: 1;
      max-width: 250px;
      margin: 0 auto;
      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        display: block;
        width: 200vw;
        height: 14px;
        background-image: url(../images/bg_timeline_head.png);
        background-position: left center;
        background-repeat: repeat-x;
        transform: translate(-50%, -50%);
      }
      .bg {
        display: block;
      }
      span {
        position: absolute;
        top: 50%;
        left: 61%;
        display: block;
        width: 100%;
        color: $white;
        font-size: 1.125em;
        text-align: center;
        transform: translate(-50%, -50%);
      }
    }
    #timeline_arrows {
      position: absolute;
      z-index: 3;
      bottom: 97.22px;
      width: 100%;
      .slick-prev {
        @include retina-sprite($arrow-slider-prev-blue-group);
        left: 0;
      }
      .slick-next {
        @include retina-sprite($arrow-slider-next-blue-group);
        right: 0;
      }
    }
  }
  #timeline_slider {
    h3 {
      margin-top: 0;
      margin-bottom: 0.5em;
      font-size: 1.125em;
      font-weight: 500;
    }
    ul {
      list-style: none;
      margin: 0;
      padding-left: 1em;
      box-sizing: border-box;
      li {
        position: relative;
        margin-bottom: 0.5em;
        list-style: none;
        line-height: 1.4;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          content: '•';
          position: absolute;
          top: 0;
          right: 100%;
          display: block;
          margin-right: 0.5em;
        }
      }
    }
  }
  @include breakpoint(660px) {
    .timeline_header {
      display: flex;
      align-items: center;
      .block_subtitle {
        margin: 0;
        padding-left: calc(26px + 1rem);
        padding-right: 3.125rem;
        background-color: $blue-lighten;
        line-height: 54px;
      }
      #timeline_years {
        margin: 0;
      }
    }
    #timeline_slider {
      padding: 0 26px;
      box-sizing: border-box;
      .slide {
        padding-left: 1em;
        box-sizing: border-box;
      }
      ul {
        padding: 0;
      }
    }
  }
}
.about_team {
  .block_subtitle {
    text-align: center;
  }
  .team_intro {
    max-width: 920px;
    padding: 0 calc(26px + 0.5rem);
    margin: 0 auto;
    box-sizing: border-box;
    .item {
      text-align: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .info {
      position: relative;
      max-width: 280px;
      margin: 0 auto 1.25em;
      .info_pic {
        img {
          display: block;
        }
      }
      .info_content {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2.5em 2.25em;
        box-sizing: border-box;
        text-align: left;
        background-color: rgba($main, 0.85);
        box-shadow: 0 0 0 3px $green inset;
        color: $white;
        @extend .transition;
        h3 {
          margin: 0 0 0.5em;
          font-family: 'Ubuntu',$sans-serif;
          font-size: 1.5em;
          font-weight: normal;
          line-height: 1.4;
        }
        h4 {
          margin: 0;
          font-weight: normal;
          font-size: 1.125em;
          line-height: 1.4;
        }
        hr {
          margin: 1em 0;
          border: none;
          height: 1px;
          width: 100%;
          background-color: $white;
        }
        p {
          margin: 0;
        }
      }
      &:hover {
        .info_content {
          opacity: 1;
        }
      }
    }
    .name_jobTitle {
      @extend .transition;
      .info_name {
        margin: 0;
        color: $main;
        font-size: 1.5em;
        font-weight: normal;
        line-height: 1.4;
      }
      .divide_line {
        margin: 0.5em auto;
        width: 154px;
        height: 4px;
        border: none;
        background-color: $green;
      }
      .job_title {
        margin: 0;
        font-size: 1.125em;
        line-height: 1.4;
      }
    }
    .info:hover + .name_jobTitle {
      opacity: 0;
    }
    .item:nth-child(even) {
      .info {
        .info_content {
          box-shadow: 0 0 0 3px $blue inset;
        }
      }
      .name_jobTitle {
        .divide_line {
          background-color: $blue;
        }
      }
    }
    .slick-prev {
      @include retina-sprite($arrow-slider-prev-blue-group);
      left: 0;
    }
    .slick-next {
      @include retina-sprite($arrow-slider-next-blue-group);
      right: 0;
    }
  }
}