@include susy-breakpoint(768px, 12) {
  // Page_block
  .page_block {
    padding: 3em 1em;
  }
  .block_title {
    font-size: 2em;
  }
  .block_subtitle {
    font-size: 1.5em;
  }

  .common_list {
    padding-left: 1.875em;
    li {
      margin-bottom: 1.5em;
      &:before {
        left: -30px;
        width: 14px;
        height: 14px;
      }
    }
  }

  // Index
  .index_banner_slider {
    .slide {
      .slide_content {
        h2 {
          font-size: 2.125em;
        }
      }
    }
  }
  .index_experience {
    .experience_items {
      margin-top: 2.5em;
    }
  }
  .index_strength {
    .slider {
      width: 31.8055555555556vw;
      height: 31.8055555555556vw;
      .slide {
        width: 31.8055555555556vw;
        height: 31.8055555555556vw;
      }
    }
  }
  .partners_supporters {
    .partners_items {
      .item {
        img {
          height: 70px;
        }
      }
    }
  }
  .index_vision {
    .vision_content {
      width: 45%;
      .text {
        margin-bottom: 2em;
      }
    }
  }

  // Contact
  .contact {
    .contact_info {
      width: 295px;
      h2 {
        font-size: 3em;
      }
    }
    .contact_form {
      width: calc(100% - 295px - 1em);
    }
  }

  // Product
  .product_introduction {
    padding-bottom: calc(10.9375vw + 3em) !important;
    .block_content {
      width: 46%;
    }
    .block_img {
      width: calc(52% + 1em);
      margin-top: -3em;
      margin-bottom: calc(-10.9375vw - 3em);
    }
  }
  .product_characteristic {
    .block_content {
      width: 46%;
    }
    .block_img {
      width: calc(52% + 1em);
    }
  }
  .product_keyAdvantages {
    .block_content {
      .key_list {
        li {
          margin-bottom: 1.5em;
          &:before {
            left: -30px;
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }
  .product_application {
    .aplication_items {
      .item {
        margin: 0.5em 1em;
      }
      .icon_img {
        img {
          max-width: 100%;
          max-height: inherit;
        }
      }
      span {
        font-size: 1.25em;
      }
    }
  }

  // Solution
  .solution_banner {
    padding-top: 6em !important;
    padding-bottom: 6em !important;
  }
  .solution_introduction {
    .image_video {
      max-width: 55.8558558558559%;
      margin-top: -4em;
      margin-bottom: 3em;
    }
    .text {
      max-width: 81.0810810810811%;
      margin: 0 auto;
    }
  }
  .solution_help,
  .solution_keyAdvantages {
    .pic_text {
      max-width: 94%;
      margin: 0 auto;
    }
  }
}