@include susy-breakpoint(768px, 12) {
  // Page_block
  .page_block {
    padding: 3em 1em;
  }
  .block_title {
    font-size: 2em;
  }

  // Index
  .index_banner_slider {
    .slide {
      .slide_content {
        h2 {
          font-size: 2.125em;
        }
      }
    }
  }
  .index_experience {
    .experience_items {
      margin-top: 2.5em;
    }
  }
  .index_strength {
    .slider {
      width: 31.8055555555556vw;
      height: 31.8055555555556vw;
      .slide {
        width: 31.8055555555556vw;
        height: 31.8055555555556vw;
      }
    }
  }
  .index_solutions {
    padding-top: 3.125em !important;
    padding-bottom: 3.125em !important;
  }
  .index_partners {
    .partners_items {
      .item {
        img {
          height: 70px;
        }
      }
    }
  }
  .index_vision {
    .vision_content {
      width: 38%;
      .text {
        margin-bottom: 2em;
      }
    }
  }

  // Contact
  .contact {
    .block_inner {
      display: flex;
    }
    .contact_info {
      flex: 0 0 auto;
      width: 295px;
      margin-bottom: 0;
      margin-right: 1em;
    }
    .contact_form {
      flex: 1 1 auto;
      width: calc(100% - 295px - 1em);
    }
  }
}