@include susy-breakpoint(768px, 12) {
  // Page_block
  .page_block {
    padding: 3em 1em;
  }
  .block_title {
    font-size: 2em;
  }

  // Index
  .index_banner_slider {
    .slide {
      .slide_content {
        h2 {
          font-size: 2.125em;
        }
      }
    }
  }
  .index_experience {
    .experience_items {
      margin-top: 2.5em;
    }
  }
  .index_solutions {
    padding-top: 3.125em !important;
    padding-bottom: 3.125em !important;
  }
}