nav {
  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    @extend .clear;
  }
}

// Header Nav
.header_nav {
  display: none;
}

// Slide Bar
#sidebar {
  position: fixed;
  z-index: 110;
  top: 0;
  left: -270px;
  width: 270px;
  max-width: calc(100vw - 44px - 1em);
  height: 100%;
  overflow: auto;
  padding: 1.5em 0;
  box-sizing: border-box;
  background-color: $white;
  &.active {
    box-shadow: 3px 0 5px rgba(0,0,0,0.3);
  }
  .sidebar_logo {
    a {
      display: block;
    }
    img {
      display: block;
      max-width: 190px;
      margin: 0 auto 1em;
    }
  }
  .sidebar_menu {
    > ul {
      margin-bottom: 1em;
      > li {
        > a {
          display: block;
          padding: 0.5rem;
          box-sizing: border-box;
          border-radius: 5px;
          color: $main;
          font-family: 'Ubuntu', $sans-serif;
          font-size: 1.25em;
          text-align: center;
          &:hover, &.current, &.active {
            background-color: $gray-lightest;
          }
          &.current {
            color: $blue;
          }
        }
        > ul {
          display: none;
          background-color: $gray-lightest;
          > li {
            border-top: rgba($gray-lighten, 0.5) 1px solid;
            &:last-child {
              border-bottom: rgba($gray-lighten, 0.5) 1px solid;
            }
            > a {
              display: block;
              padding: 0.5rem;
              color: $gray-darken;
              font-size: 1.125em;
              text-align: center;
              &:hover, &.current {
                color: $blue;
              }
            }
          }
        }
      }
    }
    .language {
      box-shadow: 0 0 4px rgba($gray-lighten, 0.5);
      .dropdown_list {
        position: relative;
        top: auto;
        left: auto;
      }
    }
  }
}
