block value
  - var currentUrl = ''
  - var subCurrent = ''

doctype html
html
  head
    meta(charset='utf-8')
    title Bikonnect
    meta(name='KeyWords', content='bikonnect')
    meta(name='Description', content='Bikonnect Website')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body
    <!--[if lt IE 10]>
    .old_browser
      .old_browser_inner
        .oops OOPS!
        .oops_title 您的瀏覽器版本太舊了！
        p
          | 請更新至 Internet Explorer 10 以上版本或選用更現代化的瀏覽器，
          br
          br
          | 使用老舊版本的瀏覽器瀏覽本網站將可能有無法預測的錯誤，請儘快更新。
          br
          br
          | 微軟已於2016年起停止IE8 (含)以下版本之Windows安全更新（#[a(href="http://windows.microsoft.com/zh-tw/windows/end-support-help", target="_blank") 微軟 終止支援公告]），
          br
          | 為了您的個資安全、瀏覽流暢度與享受更多網站互動體驗，建議您立即升級瀏覽器。
        table
          caption &gt;&gt; 建議您更新或使用以下瀏覽器
          tr
            td
              a(href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie", target="_blank")
                img(src="images/browser/ie.png", alt="IE")
                span IE
            td
              a(href="http://www.google.com/chrome/", target="_blank")
                img(src="images/browser/chrome.png", alt="Chrome")
                span Chrome
            td
              a(href="https://www.mozilla.org/en-US/firefox/new/", target="_blank")
                img(src="images/browser/firefox.png", alt="Firefox")
                span Firefox
            td
              a(href="https://www.opera.com/zh-tw/download?os=windows", target="_blank")
                img(src="images/browser/opera.png", alt="Opera")
                span Opera
        p 2019 ALL RIGHTS RESERVED. #[a(href="javascript:;") Privacy &nbsp;| &nbsp;Polity].
    <![endif]-->

    #wrapper
      header#header
        .header_inner
          a.header_logo(href="index.html")
            img.retina(src="images/logo.png", alt="Bikonnect")
          include partials/navigator-head.pug
          a#btn_menu(href="javascript:;") #[span]

      main#main
        block main
          h1 Coming Soon...

      footer#footer
        .copyright.
          2019 ALL RIGHTS RESERVED. &nbsp;#[a(href="privacy_polity.html") Privacy &nbsp;| &nbsp;Polity].

    #sidebar
      .sidebar_logo
        a(href="index.html")
          img(src="images/logo.png", alt="Bikonnect")
      include partials/navigator-sidebar.pug

    block popup

    script(src='https://www.google.com/recaptcha/api.js')
    // build:js scripts/vendor.js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbuild
    // build:js scripts/plugins.js
    script(src="scripts/plugins/jquery.sticky.js")
    script(src="../bower_components/jquery-sidebar/src/jquery.sidebar.js")
    script(src="../bower_components/slick-carousel/slick/slick.min.js")
    script(src="scripts/plugins/jquery.fitvids.js")
    script(src="scripts/plugins/jquery.retina.js")
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild

    block js
