// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-close-name: 'icon_close';
$icon-close-x: 0px;
$icon-close-y: 0px;
$icon-close-offset-x: 0px;
$icon-close-offset-y: 0px;
$icon-close-width: 40px;
$icon-close-height: 40px;
$icon-close-total-width: 126px;
$icon-close-total-height: 86px;
$icon-close-image: '../images/sprite.png';
$icon-close: (0px, 0px, 0px, 0px, 40px, 40px, 126px, 86px, '../images/sprite.png', 'icon_close', );
$icon-facebook-name: 'icon_facebook';
$icon-facebook-x: 66px;
$icon-facebook-y: 0px;
$icon-facebook-offset-x: -66px;
$icon-facebook-offset-y: 0px;
$icon-facebook-width: 30px;
$icon-facebook-height: 30px;
$icon-facebook-total-width: 126px;
$icon-facebook-total-height: 86px;
$icon-facebook-image: '../images/sprite.png';
$icon-facebook: (66px, 0px, -66px, 0px, 30px, 30px, 126px, 86px, '../images/sprite.png', 'icon_facebook', );
$icon-fax-name: 'icon_fax';
$icon-fax-x: 96px;
$icon-fax-y: 30px;
$icon-fax-offset-x: -96px;
$icon-fax-offset-y: -30px;
$icon-fax-width: 10px;
$icon-fax-height: 10px;
$icon-fax-total-width: 126px;
$icon-fax-total-height: 86px;
$icon-fax-image: '../images/sprite.png';
$icon-fax: (96px, 30px, -96px, -30px, 10px, 10px, 126px, 86px, '../images/sprite.png', 'icon_fax', );
$icon-instagram-name: 'icon_instagram';
$icon-instagram-x: 66px;
$icon-instagram-y: 30px;
$icon-instagram-offset-x: -66px;
$icon-instagram-offset-y: -30px;
$icon-instagram-width: 30px;
$icon-instagram-height: 30px;
$icon-instagram-total-width: 126px;
$icon-instagram-total-height: 86px;
$icon-instagram-image: '../images/sprite.png';
$icon-instagram: (66px, 30px, -66px, -30px, 30px, 30px, 126px, 86px, '../images/sprite.png', 'icon_instagram', );
$icon-location-name: 'icon_location';
$icon-location-x: 106px;
$icon-location-y: 30px;
$icon-location-offset-x: -106px;
$icon-location-offset-y: -30px;
$icon-location-width: 10px;
$icon-location-height: 10px;
$icon-location-total-width: 126px;
$icon-location-total-height: 86px;
$icon-location-image: '../images/sprite.png';
$icon-location: (106px, 30px, -106px, -30px, 10px, 10px, 126px, 86px, '../images/sprite.png', 'icon_location', );
$icon-mail-name: 'icon_mail';
$icon-mail-x: 116px;
$icon-mail-y: 30px;
$icon-mail-offset-x: -116px;
$icon-mail-offset-y: -30px;
$icon-mail-width: 10px;
$icon-mail-height: 10px;
$icon-mail-total-width: 126px;
$icon-mail-total-height: 86px;
$icon-mail-image: '../images/sprite.png';
$icon-mail: (116px, 30px, -116px, -30px, 10px, 10px, 126px, 86px, '../images/sprite.png', 'icon_mail', );
$icon-slider-next-name: 'icon_slider_next';
$icon-slider-next-x: 0px;
$icon-slider-next-y: 40px;
$icon-slider-next-offset-x: 0px;
$icon-slider-next-offset-y: -40px;
$icon-slider-next-width: 26px;
$icon-slider-next-height: 46px;
$icon-slider-next-total-width: 126px;
$icon-slider-next-total-height: 86px;
$icon-slider-next-image: '../images/sprite.png';
$icon-slider-next: (0px, 40px, 0px, -40px, 26px, 46px, 126px, 86px, '../images/sprite.png', 'icon_slider_next', );
$icon-slider-prev-name: 'icon_slider_prev';
$icon-slider-prev-x: 40px;
$icon-slider-prev-y: 0px;
$icon-slider-prev-offset-x: -40px;
$icon-slider-prev-offset-y: 0px;
$icon-slider-prev-width: 26px;
$icon-slider-prev-height: 46px;
$icon-slider-prev-total-width: 126px;
$icon-slider-prev-total-height: 86px;
$icon-slider-prev-image: '../images/sprite.png';
$icon-slider-prev: (40px, 0px, -40px, 0px, 26px, 46px, 126px, 86px, '../images/sprite.png', 'icon_slider_prev', );
$icon-tel-name: 'icon_tel';
$icon-tel-x: 96px;
$icon-tel-y: 40px;
$icon-tel-offset-x: -96px;
$icon-tel-offset-y: -40px;
$icon-tel-width: 10px;
$icon-tel-height: 10px;
$icon-tel-total-width: 126px;
$icon-tel-total-height: 86px;
$icon-tel-image: '../images/sprite.png';
$icon-tel: (96px, 40px, -96px, -40px, 10px, 10px, 126px, 86px, '../images/sprite.png', 'icon_tel', );
$icon-twitter-name: 'icon_twitter';
$icon-twitter-x: 96px;
$icon-twitter-y: 0px;
$icon-twitter-offset-x: -96px;
$icon-twitter-offset-y: 0px;
$icon-twitter-width: 30px;
$icon-twitter-height: 30px;
$icon-twitter-total-width: 126px;
$icon-twitter-total-height: 86px;
$icon-twitter-image: '../images/sprite.png';
$icon-twitter: (96px, 0px, -96px, 0px, 30px, 30px, 126px, 86px, '../images/sprite.png', 'icon_twitter', );
$icon-close-2x-name: 'icon_close-2x';
$icon-close-2x-x: 0px;
$icon-close-2x-y: 0px;
$icon-close-2x-offset-x: 0px;
$icon-close-2x-offset-y: 0px;
$icon-close-2x-width: 80px;
$icon-close-2x-height: 80px;
$icon-close-2x-total-width: 252px;
$icon-close-2x-total-height: 172px;
$icon-close-2x-image: '../images/sprite-2x.png';
$icon-close-2x: (0px, 0px, 0px, 0px, 80px, 80px, 252px, 172px, '../images/sprite-2x.png', 'icon_close-2x', );
$icon-facebook-2x-name: 'icon_facebook-2x';
$icon-facebook-2x-x: 132px;
$icon-facebook-2x-y: 0px;
$icon-facebook-2x-offset-x: -132px;
$icon-facebook-2x-offset-y: 0px;
$icon-facebook-2x-width: 60px;
$icon-facebook-2x-height: 60px;
$icon-facebook-2x-total-width: 252px;
$icon-facebook-2x-total-height: 172px;
$icon-facebook-2x-image: '../images/sprite-2x.png';
$icon-facebook-2x: (132px, 0px, -132px, 0px, 60px, 60px, 252px, 172px, '../images/sprite-2x.png', 'icon_facebook-2x', );
$icon-fax-2x-name: 'icon_fax-2x';
$icon-fax-2x-x: 192px;
$icon-fax-2x-y: 60px;
$icon-fax-2x-offset-x: -192px;
$icon-fax-2x-offset-y: -60px;
$icon-fax-2x-width: 20px;
$icon-fax-2x-height: 20px;
$icon-fax-2x-total-width: 252px;
$icon-fax-2x-total-height: 172px;
$icon-fax-2x-image: '../images/sprite-2x.png';
$icon-fax-2x: (192px, 60px, -192px, -60px, 20px, 20px, 252px, 172px, '../images/sprite-2x.png', 'icon_fax-2x', );
$icon-instagram-2x-name: 'icon_instagram-2x';
$icon-instagram-2x-x: 132px;
$icon-instagram-2x-y: 60px;
$icon-instagram-2x-offset-x: -132px;
$icon-instagram-2x-offset-y: -60px;
$icon-instagram-2x-width: 60px;
$icon-instagram-2x-height: 60px;
$icon-instagram-2x-total-width: 252px;
$icon-instagram-2x-total-height: 172px;
$icon-instagram-2x-image: '../images/sprite-2x.png';
$icon-instagram-2x: (132px, 60px, -132px, -60px, 60px, 60px, 252px, 172px, '../images/sprite-2x.png', 'icon_instagram-2x', );
$icon-location-2x-name: 'icon_location-2x';
$icon-location-2x-x: 212px;
$icon-location-2x-y: 60px;
$icon-location-2x-offset-x: -212px;
$icon-location-2x-offset-y: -60px;
$icon-location-2x-width: 20px;
$icon-location-2x-height: 20px;
$icon-location-2x-total-width: 252px;
$icon-location-2x-total-height: 172px;
$icon-location-2x-image: '../images/sprite-2x.png';
$icon-location-2x: (212px, 60px, -212px, -60px, 20px, 20px, 252px, 172px, '../images/sprite-2x.png', 'icon_location-2x', );
$icon-mail-2x-name: 'icon_mail-2x';
$icon-mail-2x-x: 232px;
$icon-mail-2x-y: 60px;
$icon-mail-2x-offset-x: -232px;
$icon-mail-2x-offset-y: -60px;
$icon-mail-2x-width: 20px;
$icon-mail-2x-height: 20px;
$icon-mail-2x-total-width: 252px;
$icon-mail-2x-total-height: 172px;
$icon-mail-2x-image: '../images/sprite-2x.png';
$icon-mail-2x: (232px, 60px, -232px, -60px, 20px, 20px, 252px, 172px, '../images/sprite-2x.png', 'icon_mail-2x', );
$icon-slider-next-2x-name: 'icon_slider_next-2x';
$icon-slider-next-2x-x: 0px;
$icon-slider-next-2x-y: 80px;
$icon-slider-next-2x-offset-x: 0px;
$icon-slider-next-2x-offset-y: -80px;
$icon-slider-next-2x-width: 52px;
$icon-slider-next-2x-height: 92px;
$icon-slider-next-2x-total-width: 252px;
$icon-slider-next-2x-total-height: 172px;
$icon-slider-next-2x-image: '../images/sprite-2x.png';
$icon-slider-next-2x: (0px, 80px, 0px, -80px, 52px, 92px, 252px, 172px, '../images/sprite-2x.png', 'icon_slider_next-2x', );
$icon-slider-prev-2x-name: 'icon_slider_prev-2x';
$icon-slider-prev-2x-x: 80px;
$icon-slider-prev-2x-y: 0px;
$icon-slider-prev-2x-offset-x: -80px;
$icon-slider-prev-2x-offset-y: 0px;
$icon-slider-prev-2x-width: 52px;
$icon-slider-prev-2x-height: 92px;
$icon-slider-prev-2x-total-width: 252px;
$icon-slider-prev-2x-total-height: 172px;
$icon-slider-prev-2x-image: '../images/sprite-2x.png';
$icon-slider-prev-2x: (80px, 0px, -80px, 0px, 52px, 92px, 252px, 172px, '../images/sprite-2x.png', 'icon_slider_prev-2x', );
$icon-tel-2x-name: 'icon_tel-2x';
$icon-tel-2x-x: 192px;
$icon-tel-2x-y: 80px;
$icon-tel-2x-offset-x: -192px;
$icon-tel-2x-offset-y: -80px;
$icon-tel-2x-width: 20px;
$icon-tel-2x-height: 20px;
$icon-tel-2x-total-width: 252px;
$icon-tel-2x-total-height: 172px;
$icon-tel-2x-image: '../images/sprite-2x.png';
$icon-tel-2x: (192px, 80px, -192px, -80px, 20px, 20px, 252px, 172px, '../images/sprite-2x.png', 'icon_tel-2x', );
$icon-twitter-2x-name: 'icon_twitter-2x';
$icon-twitter-2x-x: 192px;
$icon-twitter-2x-y: 0px;
$icon-twitter-2x-offset-x: -192px;
$icon-twitter-2x-offset-y: 0px;
$icon-twitter-2x-width: 60px;
$icon-twitter-2x-height: 60px;
$icon-twitter-2x-total-width: 252px;
$icon-twitter-2x-total-height: 172px;
$icon-twitter-2x-image: '../images/sprite-2x.png';
$icon-twitter-2x: (192px, 0px, -192px, 0px, 60px, 60px, 252px, 172px, '../images/sprite-2x.png', 'icon_twitter-2x', );
$spritesheet-width: 126px;
$spritesheet-height: 86px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-close, $icon-facebook, $icon-fax, $icon-instagram, $icon-location, $icon-mail, $icon-slider-next, $icon-slider-prev, $icon-tel, $icon-twitter, );
$spritesheet: (126px, 86px, '../images/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 252px;
$retina-spritesheet-height: 172px;
$retina-spritesheet-image: '../images/sprite-2x.png';
$retina-spritesheet-sprites: ($icon-close-2x, $icon-facebook-2x, $icon-fax-2x, $icon-instagram-2x, $icon-location-2x, $icon-mail-2x, $icon-slider-next-2x, $icon-slider-prev-2x, $icon-tel-2x, $icon-twitter-2x, );
$retina-spritesheet: (252px, 172px, '../images/sprite-2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$icon-close-group-name: 'icon_close';
$icon-close-group: ('icon_close', $icon-close, $icon-close-2x, );
$icon-facebook-group-name: 'icon_facebook';
$icon-facebook-group: ('icon_facebook', $icon-facebook, $icon-facebook-2x, );
$icon-fax-group-name: 'icon_fax';
$icon-fax-group: ('icon_fax', $icon-fax, $icon-fax-2x, );
$icon-instagram-group-name: 'icon_instagram';
$icon-instagram-group: ('icon_instagram', $icon-instagram, $icon-instagram-2x, );
$icon-location-group-name: 'icon_location';
$icon-location-group: ('icon_location', $icon-location, $icon-location-2x, );
$icon-mail-group-name: 'icon_mail';
$icon-mail-group: ('icon_mail', $icon-mail, $icon-mail-2x, );
$icon-slider-next-group-name: 'icon_slider_next';
$icon-slider-next-group: ('icon_slider_next', $icon-slider-next, $icon-slider-next-2x, );
$icon-slider-prev-group-name: 'icon_slider_prev';
$icon-slider-prev-group: ('icon_slider_prev', $icon-slider-prev, $icon-slider-prev-2x, );
$icon-tel-group-name: 'icon_tel';
$icon-tel-group: ('icon_tel', $icon-tel, $icon-tel-2x, );
$icon-twitter-group-name: 'icon_twitter';
$icon-twitter-group: ('icon_twitter', $icon-twitter, $icon-twitter-2x, );
$retina-groups: ($icon-close-group, $icon-facebook-group, $icon-fax-group, $icon-instagram-group, $icon-location-group, $icon-mail-group, $icon-slider-next-group, $icon-slider-prev-group, $icon-tel-group, $icon-twitter-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
