@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Ubuntu:400,500,700&display=swap');

// Fonts
$sans-serif: 'Helvetica Neue',Arial,'Heiti TC','LiHei Pro','微軟正黑體','Microsoft Jhenghei', sans-serif;

// Color
$white: #ffffff;
$black: #000000;

$gray-lightest: #F4F4F4;
$gray-lighten: #C7C7C7;
$gray: #9B9B9B;
$gray-darken: #4A4A4A;

$green: #00AEC7;

$blue-lighten: #EEF6FF;
$blue: #0078FF;

$main: #002855;