ul
  li
    a(class={current: currentUrl === 'solution'}, href="solution.html")
      | Solution
  li
    a(class={current: currentUrl === 'products'}, href="javascript:;")
      | Products
    ul
      li
        a(class={current: subCurrent === 'product01'}, href="product01.html")
          | Cyling Data Platform
      li
        a(class={current: subCurrent === 'product02'}, href="product02.html")
          | E-Bike App
      li
        a(class={current: subCurrent === 'product03'}, href="product03.html")
          | Smart Lock for E-Bike
      li
        a(class={current: subCurrent === 'product04'}, href="product04.html")
          | E-Bike store management system
      li
        a(class={current: subCurrent === 'product05'}, href="product05.html")
          | E-Bike computer
  li
    a(class={current: currentUrl === 'about'}, href="about.html")
      | About Us
  li
    a(href="#contact")
      | Contact
  li
    a(href="javascript:;")
      | Blog
.dropdown.language
  .dropdown_head
    | ENGLISH
  .dropdown_list
    .item
      a.active(href="javascript:;")
        | English
    .item
      a(href="javascript:;")
        | 中文