ul
  li
    a(href="javascript:;") Solution
  li
    a(href="javascript:;") Products
  li
    a(href="javascript:;") About Us
  li
    a(href="javascript:;") Contact
  li
    a(href="javascript:;") Blog
.dropdown.language
  .dropdown_head
    | ENGLISH
  .dropdown_list
    .item
      a.active(href="javascript:;") English
    .item
      a(href="javascript:;") 中文